
h1 {
    padding: 5% 0 5% 5% ;
    font-weight: 400, 700;
    font-family: 'Poppins', sans-serif;
}

#illustration-image {
    padding-left: 5%; 
    
}

#narration {
    padding-left: 10%;
    padding-right: 5%;
}

/* .container-fluid { */
 
  
