/* body {
    background-image: url("../images/bg-desktop.svg");
} */

.body {
  background-image: url("../images/bg-desktop.svg");
  background-color: hsl(257, 40%, 49%);
}

.container-fluid {
  padding-bottom: 5%;
}

.logo {
  padding: 5% 0 5% 5%;
}

#illustration-image {
  padding-left: 5%;
}

.narration-header {
  padding-left: 15%;
  padding-top: 7%;
  padding-right: 10%;
  font-weight: 400, 700;
  font-family: "Poppins", sans-serif;
  color: aliceblue;
}

.narration-text {
  padding-left: 15%;
  padding-right: 25%;
  color: aliceblue;
}

#btn-button {
  margin-left: 15%;
  width: 25%;
  background: white;
  border-radius: 30px;
  text-decoration: none;
  color: hsl(257, 40%, 49%);
}

/* Media Query */
/* @media (max-width: 1028px) {
    #title {
      text-align: center;
    }
  
    .title-image {
      position: static;
      transform: rotate(0);
    }
  } */

/* Mobile: 375px
- Desktop: 1440px */
